<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>JEPRI BARUS ASW</title>
    <script language="JavaScript">alert(" Apakah Anda Jomblo? ");</script>
    <script language="JavaScript">alert(" Bye Jepri Barus ");</script>

</style>
</head>
<body><center><br>
<body oncontextmenu='return false;' onkeydown='return false;' onmousedown='return false;'>
<div id='font' align="center">
<div id=''>
<br>

    <link rel="stylesheet" type="text/css" href="home/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="home/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="home/css/fullpage.min.css">

    <link rel="stylesheet" type="text/css" href="home/css/owl.carousel.css">

    <link rel="stylesheet" href="home/css/animate.css">

    <link rel="stylesheet" href="home/css/templatemo-style.css">

    <link rel="stylesheet" href="home/css/responsive.css">

    </head>

        <img src="https://l.top4top.io/p_1917n47na0.jpg"width="400"height="400">
                        <marquee behavior="alternate" scrollamount="5" style="border:1px solid;" width="80%"><font color="red" face="courier">[THANK TO : ALLAH S.W.T | Zahirr | Hafish ]</center></font></marquee></div>
                        <img src="https://g.top4top.io/p_1917moang0.jpg"width="200"height="200">
                        
                    </div>
            <div class="section animated-row" data-section="slide02">
                                            <div class="animate" data-animate="fadeInUp">
                                                <font style="color:white;text-shadow:blue 0px 0px 10px" size="6"> &nbsp;&nbsp;&nbsp;&nbsp;<br>Web ini Di Buat hanya untuk mengisi waktu gabut saya<br></font>
                                            </div>
                        	<br>
        <a class="sp-circle-link" href="/api">HOME</a>
        </div>
    </div>
    <div class="bottom">
        </p>
    </div>

</body>
        </div>
    </div>
    </body>
<script src="https://cdn.statically.io/gh/lingganovandra/effect/88c3ae71/salju-1.js" type="text/javascript"></script>

    <script src="home/js/jquery.js"></script>

    <script src="home/js/bootstrap.min.js"></script>

    <script src="home/js/fullpage.min.js"></script>

    <script src="home/js/scrolloverflow.js"></script>

    <script src="home/js/owl.carousel.min.js"></script>

    <script src="home/js/jquery.inview.min.js"></script>

    <script src="home/js/form.js"></script>

    <script src="home/js/custom.js"></script>


  </body>
</html>
